* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #212121;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
header {
  padding: 40px 0;
}
.center-content {
  height: 100dvh;
  display: grid;
  place-items: center;
  background-image: url("../assets/hogwarts-3476786_1920.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fixed-header {
  position: fixed;
  width: 100%;
}
nav {
  display: flex;
  width: 85%;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Kalam", cursive;
  font-size: 1.5rem;
  color: #a072ff;
  gap: 5px;
  text-decoration: none;
}
.logo-icon {
  font-size: 2.3rem;
}
.navigation-list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.navigation-link {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  background: #a072ff;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
.register {
  background: #7473ff;
}
.my-page {
  background: #cd82ff;
}
button {
  cursor: pointer;
  font-family: "Yanone Kaffeesatz", sans-serif;
  outline: none;
}
input {
  outline: none;
  border: none;
  background: rgb(255, 255, 255, 0.7);
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.1rem;
}

.container {
  padding: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(24, 24, 24) 99.4%);
  border: 1px solid rgba(177, 177, 177, 0.4);
  width: 85%;
  margin-inline: auto;
  border-radius: 30px;
}
.house-btn {
  padding: 10px 30px;
  border: none;
  background: rgb(71, 71, 71, 0.5);
  border-radius: 5px;
  outline: none;
  position: relative;
  font-size: 1.1rem;
  color: beige;
}
.house-btn::before {
  content: "";
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 10px 0 0 10px;
  background: beige;
}
.Slytherin {
  color: rgb(136, 255, 140);
  position: relative;
}
.Slytherin::before {
  background: rgb(136, 255, 140);
}
.Ravenclaw {
  color: #94f4ff;
}
.Ravenclaw::before {
  background: #94f4ff;
}
.Gryffindor {
  color: #ff7e7e;
}
.Gryffindor::before {
  background: #ff7e7e;
}
.Hufflepuff {
  color: #fbff8d;
}
.Hufflepuff::before {
  background: #fbff8d;
}
.unknown {
  color: #7473ff;
}
.unknown::before {
  background: #7473ff;
}
.password-container {
  position: relative;
}
.change-state {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #3434ff;
  background: none;
  outline: none;
  border: none;
}
.input-box {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 5px;
}
.btn-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
