.profile-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(65, 65, 65, 0.65);
  padding: 30px;
  border-radius: 10px;
  color: rgb(207, 134, 255);
  text-align: center;
  width: max-content;
}
.edit-user-box {
  display: flex;
  padding: 10px;
  background-color: rgb(65, 65, 65, 0.75);
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
}
.text-box {
  display: flex;
  gap: 5px;
  width: 250px;
}
.edit-btn {
  color: #a072ff;
  background: none;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.edit-input {
  border: none;
  outline: none;
  color: white;
  background: rgb(65, 65, 65, 1);
}
.flex-container {
  display: flex;
  margin-top: 100px;
  gap: 30px;
  width: fit-content;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  position: relative;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
.list-element {
  display: flex;
  padding: 10px;
  background-color: rgb(65, 65, 65, 0.75);
  justify-content: space-between;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  align-items: center;
  gap: 5px;
}
.link {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: #a072ff;
  margin-left: 10px;
}

.picture {
  height: 155px;
  width: 105px;
  border-radius: 10px;
  object-fit: cover;
}
.first-row {
  display: flex;
  gap: 20px;
}

.button {
  border: none;
  outline: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #a072ff;
  background-color: rgb(73, 73, 73);
  margin-left: 10px;
  font-size: 1.1rem;
}
.position-absolute {
  position: absolute;
  width: 100%;
  min-height: 65%;
  background-color: rgb(73, 73, 73);
  padding: 60px;
  align-items: center;
  top: 0;
}

