.center-content{
    height: 100dvh;
    display: grid;
    place-items: center;
    background-image: url("../assets/hogwarts-3476786_1920.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.fixed-header{
    position: fixed;
    width: 100%;
}
.form-field{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h1{
    font-size: 2.5rem;
}
/* Glasseffekt från https://css.glass/ */
.form-container{
    width: fit-content;
    background: rgba(39, 39, 39, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px 60px;
    color:  #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-box{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 5px;
}
input {
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: rgb(255, 255, 255, 0.7);
}
.submit-btn {
    padding: 20px 0;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgb(207, 134, 255);
}
